*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
}

header, footer{
    display: flex;
    background: #57C5B6;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 13rem;
    padding-right: 13.5rem;
}

header > h1{
    font-size: 3rem;
}

header > p{
    color: black;
    font-size: 2rem;
    font-family: sans-serif ;
}

header > img{
    height: 8rem;
}

footer > a{
    font-family: sans-serif;
    color: black;
    text-decoration: none;
}

.cards{
    height: 78.5vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 2rem;
}

.card{
    list-style: none;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0.8px rgba(0,0,0,0.4);
}

.card--first{
    grid-column: 2 / 6;
    grid-row: 2 / 7;
}

.card--second{
    grid-column: 2 / 6;
    grid-row: 7 / 12;
}

.card--third{
    grid-column: 6 / 9;
    grid-row: 2 / 12;
}

.card--fourth{
    grid-column: 9 / 12;
    grid-row: 2 / 12;
}

.card > h1{
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
}

@media screen and (max-width: 87.5rem) {
    .dashboard{
        grid-template-rows: repeat(12, 20rem);
        height: auto;
        gap: 2rem;
    }
    .section--first{
        grid-column: 1/-1;
        grid-row: 1/7;
        padding: 0;
        padding-bottom: 2rem;
        padding-right: 0;
    }
    .card{
        flex-grow: 1;
    }
    .section--second{
        grid-column: 1/-1;
        grid-row: 7/13;
    }
}